body {
  font-weight: bolder;
  background-color: #888888;
}
@keyframes m1 {
  from{left:-30%;opacity:0}to{left:0px;}}
@keyframes m2 {
  from{transform:rotatez(15deg) translate(0px,130px);opacity:0}to{left:0px;}}
@keyframes m3 {
  0%{transform:perspective(300px);opacity:0;}20%{transform:perspective(300px) rotatey(-200deg);opacity:0}to{left:0px;}
}

.card1 {
  animation: m1 1s;
  position: relative;
  border: limegreen 20px outset;
  border-radius: 20px;
  background-color: black;
  font-size: 20px;
  font-family: Trebuchet MS;
  font-style: italic;
  display: block;
  max-width: 500px;
  overflow: auto;
  color: limegreen;
  padding: 5px;
  box-shadow: 5px 5px rgba(0,0,0,0.4);
}
.card1:hover {
  transform: scale(1.05);
  border: lime 20px outset;
}

.gallery-link {
  border: transparent 7px solid;
  box-shadow: 5px 5px rgba(0,0,0,0.3);
  background-color: white;
  border-radius: 10px;
  width: fit-content;
  animation: m3 2s;
  position: relative;
}
 
@media (min-width: 600px) {
  .card2 { grid-template-columns: repeat(1, 1fr); }
  .card1 {max-width: 5100px;}
  h1 {font-size:50px;}
  h2 {font-size:34px;}
  p {font-size:30px;}
  b {font-size:24px;}
  img {width: 201px; height: 201px;}
}

@media (min-width: 1120px) {
  .card2 { grid-template-columns: repeat(2, 1fr); }
  .card1 {max-width: 500px;}
  h1 {font-size:36px;}
  h2 {font-size:24px;}
  p {font-size:25px;}
  b {font-size:20px;}
  img {width: 161px; height: 161px;}
}

.card2 {
  background-color: rgba(0,0,0,0.1);
  border-radius: 15px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  display: grid;
  column-gap: 10%;
}

a.link {
  text-decoration: none!important;
  color: #0112fc;
}

a.link:hover {
  text-decoration: none!important;
  color: #424fff;
}

h1 {
  animation: m2 0.8s;
  position: relative;
  color: #0112fc;
  font-family: Verdana;
}

h2 {
  animation: m2 1s;
  position: relative;
  color: #0112fc;
  font-family: Verdana;
}

p {
  font-family: Trebuchet MS;
}

img {
  float: right;
  border-radius: 10px;
}

.tropic-freeze {
  color: #e3a71b;
}

.red-delicious {
  color: #e80621;
}

.coco-choco {
  color: #7a5335;
}

.sweetie {
  color: #42c8f0;
}

.smoothie5 {
  color: #420032;
}

.smoothie6 {
  color: #990Fe1;
} 
